html {
    background-color: black;
}

body { 
    font-family: Georgia;
    color: white;
    width: 800px;
    align-content: center;
    background-color: black;
    margin: 50px auto;
}

a:link, a:visited {
    color: red;
}

a:hover {
    color: white;
}


header {
    padding: 10px;
    border-bottom: 2px solid white;
}

header h1 {
    font-size: 30px;
}

header ul {
    text-align: left;
}

header .headerblock {
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
}
